:root {
    --primary-color: #00A5CF   ;
    --secondary-color: #004E64 ;
    --accent1-color: #EBFFF4;
    --accent2-color: #66E16E;
}


#content {
        max-width: 1600px;
        margin: 0 auto;
        background-color: #00A5CF ;
      }

      body {font-family:  Arial, sans-serif ;
        background-color: #004E64;
        font-size: 22px;
        margin: 0;
        padding: 0; 
    }
    h2{margin: 0;}

    header {
      display: grid;
    grid-template-columns: 150px auto;
        background-color:#004E64;
    }
    nav a:hover {
        background-color: #66E16E;
    }
    


    .book:hover{
        background-color: #66E16E
    }
    .join:hover{background-color: #66E16E
    }
    .msg{ background-color: #66E16E;
      line-height: 1.5em;
      padding: 35px;
        
    }

    footer{ background-color: #66E16E;
      padding: 25px 50px;
      padding-top: 15px;
        
    }


nav {display: flex;
  justify-content: space-around;
z-index: 1;
background-color: #004E6499}

      nav a {
        color: #EBFFF4;
        text-align: center;
        padding: 35px;
      }
      nav a:hover{text-decoration: none;
        color:  #004E64

      }
      .book, .join{text-decoration: none;
        color:black;
        font-size: 18px; 
        padding: 15px 30px;
        background-color: #EBFFF4;
        margin-top: 50px;
        border-radius: 5px;}


      .home-title {color: #EBFFF4;
          font-family: Arial, sans-serif;
          font-size: 2em;
          margin-top: 10px;
      }
      h4{color:  #EBFFF4}

      .msg h2 {color:#004E64}
      .msg p {color:#004E64;
        font-size: 2em;
        padding-bottom: 15px;}
      footer h3{color:#004E64}
      footer a {text-decoration: none;
        color:#004E64}
      footer a:hover{color: #EBFFF4;}

      #hero-msg h1{
        text-align: center;
        z-index: 1;
      }

      #hero-msg{grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 100px;
      z-index: 1;}

      #hero-msg h4{color: white;
        text-align: center;
        z-index: 1
      }

      .button-box{ z-index: 1;
        text-align: center;
      }

      main section{  
    text-align: center;
      }




      #background {
          background-color:#004E64;
        height: 725px;
    }

      footer h3 a:hover{
        text-decoration: underline;
      }

      .logo{width: 80px;
        position:relative;
      top: 0px;
      left: 0px;
      z-index: 1;
        
    }

      .icon {
        width: 80px;
        padding-top: 10px;
    }

    #hero-img{
        width: 100%;
    }

    #logo_link {padding-top: 5px;
      justify-self: center;
      align-self: center;}

    footer .social img{padding-top: 15px;} 

    /* I need to check if it meant for me to write code for footer .social img as a whole or two different parts? */

    .rivers-card {margin: 200px 0;}
    .camping-card {margin: 200px 0;}
    .rapids-card {margin: 200px 0;}

    footer {margin-top: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;}

    .card-img {
      border: 10px solid #004E64;
      transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
  }

  .card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

  main section img {
    box-sizing: border-box;
}

   .mountains {margin-top: 75px;
  margin-bottom: 150px} 

  #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

.home-grid {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

.card-img, .mountains {
  width: 100%;
}

.rivers-card{grid-column: 2/4;
  grid-row: 2/3;}

  .camping-card{grid-column: 5/7;
    grid-row: 2/3;}

    .rapids-card{grid-column: 8/10;
      grid-row: 2/3;}
      #background{grid-column: 1/11;
        grid-row: 4/9;}
        .mountains{grid-column: 2/7;
          grid-row: 5/8;
          box-shadow: 5px 5px 10px #6f7364;}
          .msg{grid-column: 6/10;
            grid-row: 6/7;
            box-shadow: 5px 5px 10px #6f7364;}


            #hero-box {
              grid-column: 1/4;
              grid-row: 1/3;
              z-index: 0;
            }
            
            @media screen and (max-width: 900px) {
              #hero, .home-grid {
                  display: block;
                  height: auto;
              }
              nav, footer {
                  flex-direction: column;
              }
              nav a {
                  display: block;
                  padding: 15px;
              }
              #hero {
                  margin-top: 0;
              }
              #hero-msg {
                  margin-top: 0;
              }
              #hero-msg h4 {
                  display: none;
              }
              .home-title {
                  font-size: 25px;
                  color: #6f7364;
                  z-index: 1;
              }
              .rivers-card, .camping-card, .rapids-card { 
                  margin: 50px auto;
                  width: 60%;
              }
              #background {
                  display: none;
              }
              .mountains, .msg {
                  width: 80%;
                  display: block;
                  margin: 0 auto;
              }
              footer {
                  margin-top: 25px;
              }
          }
                      
            